<div id="pagination">
    <%= will_paginate @videos, :page_links => false, :param_name => 'video_page', :previous_label => "PREV", :next_label => "NEXT" %>
</div>
<div class="row">
    <% for video in @videos %>
      <div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
              <%= video_tag(video.video.url, :width => 295, :height => 150) %>
              <div class="caption">
                  <h4 class="pull-right"><%= number_to_currency(video.price) %></h4>
                  <h4><%= link_to video.name, video_path(video) %>
                  </h4>
                  <p><%= video.description %></p>
              </div>
              <div class="ratings">
                  <p class="pull-right">15 reviews</p>
                  <p>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                  </p>
                  <% if current_user && video.user_id == current_user.id %>
                    <p>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_video_path(video), :class => 'btn btn-default btn-xs' %> | 
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), video_path(video), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %>
                    </p>
                  <% end %>
              </div>
          </div>
      </div>
    <% end %>
</div>