<%= form_for current_user, :url => change_password_path(current_user), :method => 'PUT', :remote => true do |f|  %>
  <ul style="margin: 0">
    <% current_user.errors.full_messages.each_with_index do |msg, index| %>
      <li style="color: red; line-height: 20px;list-style: none"><%= index+1 %>. <%= msg %></li>
    <% end %>
  </ul>
  <div id='success' style='display: none;color: green;'>Successfully Changed the Password.</div>
  <div class="control-group">
    <%= f.label :current_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
  </div>

  <%= f.submit "Save", :class => 'btn btn-primary' %>
<% end %>
