<h3>Payment Confirmation</h3>
<hr />
<%= form_for @order, :html => {:autocomplete => 'off'} do |f| %>
  <%= render :partial => '/layouts/error_messages', :locals => {:resource => @order} %>
  <% if params[:token] %>
    <%= f.hidden_field :express_token %>
    <%= f.hidden_field :payment_type, :value => 'paypal_express' %>
    <p>Name: <%=h @order.first_name %> <%=h @order.last_name %></p>
    <p>TODO Display order confirmation details</p>
  <% else %>
  <table id="order-table">
    <tr>
        <td><%= f.label :payment_type, :class => 'control-label' %></td>
        <td><%= f.select :payment_type, options_for_select([["Select", ""],["Brian Tree", "brian_tree"],["Checkout", "checkout"],["Authorize","authorize"],["Stripe","stripe"],["HDFC", "hdfc"],["Payeezy","payeezy"]], :selected => f.object.payment_type),{}, :class => 'form-control' %></td>
    </tr>
    <tr>
        <td><%= f.label :first_name, :class => 'control-label' %></td>
        <td>
            <%= f.text_field :first_name, :class => 'form-control' %>
        </td>

        <td><%= f.label :last_name, :class => 'control-label' %></td>
        <td>
            <%= f.text_field :last_name, :class => 'form-control' %>
        </td>
    </tr>
    <tr>
        <td><%= f.label :card_type, :class => 'control-label' %></td>
        <td>
            <%= f.select :card_type, options_for_select([["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], :selected => f.object.card_type),{}, :class => 'form-control' %>
        </td>

        <td><%= f.label :card_number, :class => 'control-label' %></td>
        <td>
            <%= f.text_field :card_number, :class => 'form-control' %>
        </td>
    </tr>
    <tr>
        <td><%= f.label :card_expires_on, :class => 'control-label' %></td>
        <td>
            <%= f.date_select :card_expires_on, {:discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true, :order => [:month, :year]}, :id => 'cvv_date' %>
        </td>

        <td><%= f.label :card_verification, :class => 'control-label' %></td>
        <td>
            <%= f.text_field :card_verification, :style => 'width: 120px;', :class => 'form-control' %>
        </td>
    </tr>
    </table>
  <% end %>
  <hr />
  <%= f.submit "Continue", :class => 'btn btn-primary' %>
<% end %>
