<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ShareThoughts" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= render :partial => '/layouts/header' %>
    <div class="container">
      <div class="row">
        <%= bootstrap_flash %>
        <div class="col-md-12">
          <%= yield %>
        </div>        
      </div>
      <hr />
    </div>
    <audio id="chatAudio"><source src="/assets/notification.mp3" type="audio/mpeg"></audio>
  </body>
</html>
